header {
    background-color: rgb(69, 69, 188);
    height: 70px;
}

.portfoliotext {
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 2%;
    padding-top: 2%;
}

* {
    margin-top: 0;
}


.barsection {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    /* Empêche le retour à la ligne automatique */
    margin-left: 70%;
    margin-right: 50px;
    margin-top: -3%;
    color: white;
    font-size: 17px;
}

.bar {
    color: white;
}

.bar:hover {
    background-color: black;
    padding: 3px;
}


body {
    background-image: url(360_F_677829211_utyjMgoaSIc7mPWjMqrANnWkJiDW2meR.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.block {
    margin-top: 2%;
    margin-left: 15%;
    height: 450px;
    width: 900px;
    border-radius: 30px;
    background-color: white;

/* From https://css.glass */
background: rgba(255, 255, 255, 0.38);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.7px);
-webkit-backdrop-filter: blur(9.7px);
border: 1px solid rgba(255, 255, 255, 0.15);}


.photoprofil {
    margin-left: 50px;
    margin-top: 80px;
    border-radius: 20px;
    height: 270px;
    width: 200px;
    border-style: solid;
    border-color: black;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
    filter: brightness(125%);
    filter: contrast(105%);
}


.textindex {
    margin-top: -250px;
    margin-right: 90px;
    margin-left: 32%;
    font-size: 20px;
}



@media only screen and (max-width: 600px) {
    .barsection {
        align-items: center; /* Centrer les éléments */
        margin-left: 0;
        margin-right: 0;
    }

    .block{
        margin-left: 0px;
        height: 600px;
        width:  350px;
    }


    .photoprofil {
        margin-top: 3%;
        margin-left: 10%;
        margin-right: 5%;
        width: 30%;
        height: 22%;
    }
 
    .textindex{
        padding-top: 10px;
        margin: auto;
        margin-left: 20px;
        margin-top: 10px;
        font-size: 15px;
    }
}