header{
    background-color: rgb(69, 69, 188);
    height: 70px;
}

.portfoliotext{
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin-left : 2%;
    padding-top: 2%;
}


*{
    margin-top: 0;
}


.barsection{
    display: flex;
    justify-content: space-between;
    white-space: nowrap; /* Empêche le retour à la ligne automatique */
    margin-left: 70%;
    margin-right: 50px;
    margin-top: -3%;
    color: white;
    font-size: 17px;
}

.bar{
    color: white;
}

.bar:hover{
    text-decoration: underline;
    background-color: rgb(70, 70, 125);
}

.stagetext{
    font-size: 25px;
    margin-left: 45%;
    margin-top: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.stagecollege{
    background-color: rgb(0, 0, 0);
    width: fit-content;
    border-radius: 2px;
    color: white;
    padding: 5px;
    font-size: 18px;
}


.lignegrise{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.313);
    margin-right: 50%; 
}

.button{
    background-color: black;
    font-size: 20px;
    color: white;
}


.titrestage{
    font-size: 20px; 
    margin-top: 8px;
}

@media only screen and (max-width : 600px) {

       .barsection{
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    .lignegrise{
        width: 95%;
    }

}

@media only screen and (min-width: 1900px) {
    /* Vos règles CSS pour les écrans jusqu'à 24 pouces */
    .barsection {
        display: flex;
        justify-content: space-between;  
        margin-top: -5%;
        font-size: 30px;
    }


    .portfoliotext{
        padding-top: 11px;
        font-size: 50px;
    }

    .stagecollege{
        font-size: 40px;
    }

    .stagetext{
        font-size: 50px;
        
    }

    .lignegrise{
        font-size: 50px;
        width: 100%;
    }

    .titrestage{
        font-size: 50px;
    }

    .button{
        padding: 10px;
        font-size: 50px;
    }


}
